.navbar {
    padding: 0px;
}

.col-md-6 {
    padding-top: 20px;
}

.card {
    color: transparent;
}

.card-img-overlay {
    background: transparent;
    transition: background-color 1s ease-out;
}

 .card-img-overlay:hover {
    color: white;
    background-color:hsla(247, 32%, 47%, 0.3);
    cursor: pointer;
 }


.nav-link:hover {
    color:black !important;
    opacity: 0.95;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'Montserrat', 'sans-serif';
    font-weight: bold;
    font-size: 34px;
}

h2 {
    font-family: 'Montserrat', 'sans-serif';
    font-weight: bold;
    font-size: 28px;
}

h3 {
    line-height: 0%;
    font-size: 1.5rem;
}

.card-text {
    line-height: 15%;
}

p {
    font-family: 'Montserrat', 'sans-serif';
    font-weight: normal;
    font-size: 16px;
}

.navbar-toggler {
    border: 0px;
}
