.card {
    color: #F8BAC7;
}

.card-img-overlay:hover{
    background-color:lightseagreen;
    color:white;
    opacity: 0.6;
    transition: 0.8s;
 }

.row {
    display: flex;
    justify-content: flex-start;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'Montserrat', 'sans-serif';
    font-weight: bold;
    font-size: 50px;
}

h2 {
    font-family: 'Montserrat', 'sans-serif';
    font-weight: bold;
    font-size: 32px;
}

h3 {
    line-height: 0%;
    font-size: 1.5rem;
}

p {
    font-family: 'Montserrat', 'sans-serif';
    font-weight: normal;
    font-size: 16px;
}

.navbar-toggler {
    border: 0px;
}

