.card {
    color: transparent;
}

.card-img-overlay:hover{
    background-color:lightseagreen;
    color:white;
    opacity: 0.6;
    transition: 0.8s;
 }

.nav-link:hover {
    color:black !important;
    opacity: 0.95;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'Montserrat', 'sans-serif';
    font-weight: bold;
    font-size: 34px;
}

h2 {
    font-family: 'Montserrat', 'sans-serif';
    font-weight: bold;
    font-size: 28px;
}

h3 {
    line-height: 0%;
    font-size: 1.5rem;
}

.card-text {
    line-height: 15%;
}

p {
    font-family: 'Montserrat', 'sans-serif';
    font-weight: normal;
    font-size: 16px;
}

.navbar-toggler {
    border: 0px;
}
